<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca Repository</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        .flip-container {
            perspective: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .flipper {
            width: 300px;
            height: 500px;
            position: relative;
            background: #f5f5f5;
            border-radius: 20px;
            transition: 0.6s;
            transform-style: preserve-3d;
        }
        .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        .back {
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .flip {
            transform: rotateY(180deg);
        }
        .flipbutton {
            color: #4096ee;
            text-decoration: none;
            text-align: left !important;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-8 text-center mt-4">Ricerca Repository GitHub</h1>

        <div class="flip-container">
            <div class="flipper" id="flipper">
                <div class="front">
                    <form id="searchForm" class="bg-white p-4 rounded shadow-md w-full h-full flex flex-col justify-center">
                        <h2 class="text-center text-xl font-semibold mb-4">Cerca Repository</h2>
                        <div class="mb-4">
                            <label for="linguaggio" class="block text-gray-700">Linguaggio</label>
                            <input type="text" id="linguaggio" name="linguaggio" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" required>
                        </div>
                        <div class="mb-4">
                            <label for="risultati_per_pagina" class="block text-gray-700">Risultati per pagina</label>
                            <input type="number" id="risultati_per_pagina" name="risultati_per_pagina" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" value="10">
                        </div>
                        <div class="mb-4">
                            <label for="pagine" class="block text-gray-700">Numero di pagine</label>
                            <input type="number" id="pagine" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" name="pagine" value="1">
                        </div>
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Cerca</button>
                        <button id="sendButton" type="button" class="bg-green-500 text-white px-4 py-2 rounded mt-2">Invia a RabbitMQ</button>
                        <a class="flipbutton mt-4 cursor-pointer" onclick="flipToBack()">Aggiungi un repository singolo</a>
                    </form>
                </div>
                <div class="back">
                    <form id="singleFieldForm" class="bg-white p-4 rounded shadow-md w-full h-full flex flex-col justify-center">
                        <h2 class="text-center text-xl font-semibold mb-4">Aggiungi Repository</h2>
                        <div class="mb-4">
                            <label for="singleField" class="block text-gray-700">Link Repository GitHub</label>
                            <input type="text" id="singleField" name="singleField" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300" required>
                        </div>
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Aggiungi e Invia</button>
                        <a class="flipbutton mt-4 cursor-pointer" onclick="flipToFront()">Torna alla ricerca</a>
                        <div id="errorSingleField" class="text-red-500 mt-2"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-4 -mt-32">
        <h2 class="text-2xl font-bold mb-4 text-center ">Repositories</h2>
        <div id="analysis-results" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div id="tempcard" class="card bg-white rounded-lg shadow-md p-4" style="display: none;">
                <img src="https://logos-world.net/wp-content/uploads/2020/11/GitHub-Logo.png" class="mx-auto h-24">
                <div class="container text-center mt-4">
                    <h4 class="font-bold"><b>John Doe</b></h4>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const socket = io();

        socket.on('new_analysis_result', function(data) {
            const cardTemplate = document.getElementById('tempcard');
            const clonedCard = cardTemplate.cloneNode(true);
            clonedCard.id = 'card' + (document.querySelectorAll('.card').length + 1) + "-" + data.name;
            clonedCard.querySelector('.container h4').innerHTML = data.name;
            clonedCard.style.display = '';
            clonedCard.onclick = function() {
                window.open('http://localhost:5001/getData/'+data.name, '_blank');
            };
            
            const cardContainer = document.getElementById('analysis-results');
            cardContainer.appendChild(clonedCard);
        });

        function getAnalysisResults() {
            $.get("/get_analysis_results", function(data) {
                let resultsDiv = $('#analysis-results');
                resultsDiv.empty();
                if (data.status === "success") {
                    let results = data.results;
                    resultsDiv.append('<h2>Analysis Results</h2>');
                } else {
                    resultsDiv.append('<p>Error: ' + data.message + '</p>');
                }
            });
        }

        $(document).ready(function() {
            getAnalysisResults();
        });

        function flipToBack() {
            document.getElementById('flipper').classList.add('flip');
        }

        function flipToFront() {
            document.getElementById('flipper').classList.remove('flip');
        }

        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const linguaggio = document.getElementById('linguaggio').value;
            const risultati_per_pagina = document.getElementById('risultati_per_pagina').value;
            const pagine = document.getElementById('pagine').value;

            axios.post('/search', {
                linguaggio: linguaggio,
                risultati_per_pagina: risultati_per_pagina,
                pagine: pagine
            })
            .then(function (response) {
                alert('Repository trovati e salvati con successo.');
            })
            .catch(function (error) {
                console.error(error);
            });
        });

        document.getElementById('singleFieldForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const link = document.getElementById('singleField').value;

            if (!/^https:\/\/github\.com\/([^\/]+)\/([^\/]+)/.test(link)) {
                document.getElementById('errorSingleField').innerText = "Il link fornito non è un link valido di GitHub.";
                return;
            }

            axios.post('/searchlink', {
                link: link
            })
            .then(function (response) {
                document.getElementById('errorSingleField').innerText = "";
                return axios.post('/send');
            })
            .then(function (response) {
                alert('Repository aggiunto e inviato con successo a RabbitMQ.');
            })
            .catch(function (error) {
                console.error(error);
                document.getElementById('errorSingleField').innerText = error.response.data.message || "Si è verificato un errore durante l'aggiunta del repository.";
            });
        });

        document.getElementById('sendButton').addEventListener('click', function() {
            axios.post('/send')
            .then(function (response) {
                alert(response.data.message);
            })
            .catch(function (error) {
                console.error(error);
            });
        });
    </script>
</body>
</html>
